numpy
pandas
scipy
requests
ipython
scikit-image
pyqt5
pyqt5-tools
pymodm
matplotlib
seaborn
flask
gunicorn
sendgrid
python_http_client
sphinx
sphinxcontrib-napoleon
sphinx_rtd_theme
pudb
pytest
pytest-pep8
pytest-cov
pytest-pudb
